/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }*/

/*.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}*/

body {
  /*margin:10px;
  overflow:auto;*/
  background: #fafafa;
}

/*.wrapper {
    max-width: -webkit-calc(1000px - (30px * 2));
    max-width: calc(1000px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}*/

.blurb {
    margin-bottom: 10px;
    font-weight: bold;
}

div.dc-chart {
    float: none !important;
}

.dc-data-count {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.dc-data-count .filter-count {
    color: #3182bd;
    font-weight: bold;
}

.dc-data-count .total-count {
    color: #3182bd;
    font-weight: bold;
}

.myChart {
  background: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.breadcrumb_class {
  font-size: 12px;
  padding-left: 10px;
  color: rgb(255, 0, 0);
}

.breadcrumb_empty {
  color: rgb(0, 0, 0);
}

.logo-nlesc {
  background-image: url("../images/nlesc_logo.png");
  height: 100px;
  width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-y: 40px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
    cursor: pointer;
}
