/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }*/

/*.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}*/

body {
  /*margin:10px;
  overflow:auto;*/
  background: #fafafa;
}

/*.wrapper {
    max-width: -webkit-calc(1000px - (30px * 2));
    max-width: calc(1000px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}*/

.blurb, .blurb p {
    font-weight: bold;
}

div.dc-chart {
    float: none !important;
}

counter-chart .filter-count {
    color: #3182bd;
}

counter-chart .total-count {
    color: #3182bd;
}

.myChart {
  background: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.breadcrumb_class {
  font-size: 12px;
  padding-left: 10px;
  color: rgb(255, 0, 0);
}

.breadcrumb_empty {
  color: rgb(0, 0, 0);
}

.logo-nlesc {
  background-image: url("../images/nlesc_logo.png");
  height: 100px;
  width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-y: 40px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
    cursor: pointer;
}

#dc-table-graph-proj .image-container {
  min-height: 16em;
  max-width: 16em;
}

#dc-table-graph-proj .project-logo, .organization-logo {
  width: 100%;
  display: block;
}

#dc-table-graph-proj tr.dc-table-row {
    padding: 2px;
}

#dc-table-graph-proj td.dc-table-column {
  padding: 3px !important;
  width: 16em;
  border: 1px solid #ccc;
  height: 100px;
}

#dc-table-graph-proj tbody {
    display: flex;
    flex-wrap: wrap;
}

#dc-table-graph-proj .project-title {
    height: 4.5em;
}

#dc-table-graph-people tr.dc-table-row {
    padding: 2px;
}

#dc-table-graph-people td.dc-table-column {
  padding: 3px !important;
  border-top: 0px;
}

#dc-table-graph-people tbody {
    display: flex;
    flex-wrap: wrap;
}

#dc-table-graph-people .people-name {
    height: 3.1em;
}

#dc-table-graph-people .image-container {
  min-height: 9em;
  max-width: 9em;
}

#dc-table-graph-people img.photo {
    max-height: 125px;
    display: block;
}

.nav-button a {
    cursor: pointer;
}

.nav-button a.active {
    color: #333;
}

.nav-button a.active {
    text-decoration: none;
    cursor: text;
}

.nav-button a.active:hover {
    text-decoration: none;
    cursor: text;
}

.nav-button a.activedetail {
    font-weight: bold;
}

.description img {
  max-width: 100%;
  vertical-align: middle;
}

.logo {
    max-width: 400px;
    max-height: 350px;
}
